---
layout: default
---


<!-- <a href='{{ site.baseurl }}/only-en/'>Hide Swedish posts</a> -->


<div class="posts">


  {% for post in site.posts %}
    <article class="post"{% if post.lang == 'ar' %} dir="rtl"{% endif %}>


      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

          <div class="date" dir="ltr">
            {{ post.date  | date: '%B %e, %Y' }}
      {% if post.lang == 'sv' %}
              (Swedish)
      {% endif %}
          </div>
      <p>
      <div class="entry">
        {% if post.thumbnail %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img style="float: {% if post.lang == 'ar' %} left {% else %} right {% endif %}; max-width: 40%; max-height: 300px; margin-left: 15px; margin-bottom: 10px;" src="{{ post.thumbnail }}">
        </a>
        {% endif %}
        {{ post.excerpt }}
      </div>
      </p>

      {% if post.lang == 'en' %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% endif %}
      {% if post.lang == 'sv' %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Läs mer</a>
      {% endif %}
      {% if post.lang == 'ar' %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">اقرأ المزيد</a>
      {% endif %}

      

    </article>
  {% endfor %}
</div>
