---
layout: default
---

<article class="post"  {% if page.lang == 'ar' %} dir="rtl" lang="ar" {% endif %}>
  <h1>{{ page.title }}</h1>

  <div class="date">

    {% assign tags = page.tags %}

    {% if page.lang == 'en' %}
    {{ page.date | date: "%B %e, %Y" }}<br>
    {% if page.modified %}Last modified: {{ page.modified | date: "%B %e, %Y" }}  {% endif %}
    Tags: {% for tag in tags %} -{{tag}}{% endfor %}<br>
    Length: {{ page.length }}<br>
    {% endif %}

    {% if page.lang == 'sv' %}
    {{ page.date | date: "%Y-%m-%d" }}<br>
    Taggar: {% for tag in tags %} -{{tag}}{% endfor %}<br>
    Längd:
    {% if page.length == 'long' %}
    lång
    {% elsif page.length == 'short' %} 
    kort
    {% elsif page.length == 'medium' %}
    medium
    {% endif %}
    {% endif %}


    {% if page.lang == 'ar' %}
    {{ page.date | date: "%Y/%m/%d" }}<br>
    تصنيف: {% for tag in tags %} {{tag}}{% endfor %}<br>
    &#x202b;طول: 
      {% if page.length == 'long' %}
      &#x202b;طويل 
      {% elsif page.length == 'short' %} 
      &#x202b;قصير 
      {% elsif page.length == 'medium' %}
      &#x202b;وصط 
      {% endif %}
    {% endif %}

  </div>

{% if page.updates %}

    <div class="update">
    <p>

  {% if page.updates.size > 3 %}
    <details>
      <summary>
    <a>Updates</a>
    </summary>

      {% for update in page.updates %}
    <p>
          Update {{ update.date }} &mdash; {{ update.contents | markdownify | remove: '<p>' | remove: '</p>'}}<br>
    </p>
      {% endfor %}
    </details>
  {% else %}

      {% for update in page.updates %}
    <p>
          Update {{ update.date }} &mdash; {{ update.contents | markdownify | remove: '<p>' | remove: '</p>'}}<br>
    </p>
      {% endfor %}
  {% endif %}

  </p>
    </div>
{% endif %}

  <div class="entry">
    {{ content }}
  </div>

</article>
